<section id="experience_section" class="big-section bg-custom-blue-2 wow" style="visibility: visible;">
    <div class="flex-center mb-5">
        <a href="#education_section" class="btn btn-md bg-custom-blue-1 text-light btn-rounded m-auto opacity-3 chevron-slide">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center margin-four-bottom">
                <h3 class="h-font h1-font text-custom-h1 opacity-5">{{ 'Experience' | trans}}</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-md-10">
                <div class="panel-group accordion-event accordion-style-05" id="accordion6" data-active-icon="fa-angle-down" data-inactive-icon="fa-angle-right">
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading border-color-white-transparent">
                            <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion6" href="#exp_2" aria-expanded="false">
                                <div class="panel-title">
                                    <span class="h-font">{{ 'Full-stack developer' | trans}}</span>
                                    <span class="text-custom-muted small text-desc-accordion font-weight-600 opacity-8">
                                        <span class="text-custom-date text-desc-accordion"><b class="fa fa-calendar small me-1"></b>2021</span> |
                                        <span class="text-success text-desc-accordion"> <b class="fa fa-clock small me-1"></b>6 {{ 'month' | trans}}</span> |
                                        <span class="text-danger text-desc-accordion"> <b class="fa fa-building small me-1"></b>ClikenWeb</span>
                                    </span>
                                    <i class="indicator fas text-white icon-extra-small fa-angle-right"></i>
                                </div>
                            </a>
                        </div>
                        <div id="exp_2" class="panel-collapse collapse" data-bs-parent="#accordion6">
                            <div class="panel-body text-custom-blue-2 border-top border-color-white-transparent">
                                <div class="mb-4">
                                    <p class="mb-1">{{ 'clikenwebDesc' | trans }}</p>
                                    <p class="accordion-p mb-3">{{ 'clikenwebXp' | trans }}</p>
                                </div>
                                <div class="small border-top border-color-white-transparent pt-3">
                                    <div class="col-lg-12">
                                        <pre class="text-custom-h1 m-0"><i class="fas fa-code"></i> <span class="text-custom-h2 font-weight-600 opacity-9">HTML, CSS, JavaScript (JQuery), PHP (Symfony), SQL, Windows</span></pre>
                                    </div>
                                    <div class="col-lg-12">
                                        <pre class="text-custom-h1 m-0"><i class="fa fa-building"></i> <a href="https://www.cliken-web.com/" class="text-decoration-none text-custom-h2 font-weight-600 opacity-9">ClikenWeb <i class="fa fa-external-link-alt small"></i></a></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="panel">
                        <div class="panel-heading border-color-white-transparent">
                            <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion6" href="#exp_1" aria-expanded="false">
                                <div class="panel-title">
                                    <span class="h-font">{{ 'Junior developer' | trans}}</span>
                                    <span class="text-custom-muted small text-desc-accordion font-weight-600 opacity-8">
                                        <span class="text-custom-date text-desc-accordion"><b class="fa fa-calendar small me-1"></b>2021</span> |
                                        <span class="text-success text-desc-accordion"> <b class="fa fa-clock small me-1"></b>6 {{ 'month' | trans}}</span> |
                                        <span class="text-danger text-desc-accordion"> <b class="fa fa-building small me-1"></b>Hypercomm</span>
                                    </span>
                                    <i class="indicator fas text-white icon-extra-small fa-angle-right"></i>
                                </div>
                            </a>
                        </div>
                        <div id="exp_1" class="panel-collapse collapse" data-bs-parent="#accordion6">
                            <div class="panel-body text-custom-blue-2 border-top border-color-white-transparent">
                                <div class="mb-4">
                                    <p class="mb-1">{{ 'hypercommDesc' | trans }}</p>
                                    <p class="accordion-p mb-3">{{ 'hypercommXp' | trans }}</p>
                                </div>
                                <div class=" small border-top border-color-white-transparent pt-3">
                                    <div class="col-lg-12">
                                        <pre class="text-custom-h1 m-0"><i class="fas fa-code"></i> <span class="text-custom-h2 font-weight-600 opacity-9">HTML, CSS, JavaScript (JQuery), PHP (Symfony), SQL, LINUX</span></pre>
                                    </div>
                                    <div class="col-lg-12">
                                        <pre class="text-custom-h1 m-0"><i class="fas fa-building"></i> <a href="https://www.hypercomm.fr/" class="text-decoration-none text-custom-h2 font-weight-600 opacity-9">Hypercomm <i class="fa fa-external-link-alt small"></i></a></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
            </div>
        </div>
    </div>
    <div class="flex-center mt-5">
        <a href="#contact_section" class="btn btn-md bg-custom-blue-1 text-light btn-rounded m-auto opacity-3 chevron-slide">
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</section>