{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<section id="header_section" class="parallax p-0" data-parallax-background-ratio="0.8" style="background-image: url({{ asset('img/bg/header.jpg') }}); background-position: 80% 0px;">
    <div class="container position-relative" style=" z-index: 1;">
        <div class="row full-screen md-h-650px sm-h-550px xs-h-450px" style="height: 968px;">
            <div class="col-12 col-md-12 col-sm-12 flex-center-y flex-center-eve flex-column padding-8-rem-tb">
                <div>
                    <h1 class="h-font text-center h-header font-weight-600 text-primary" style="line-height: 50%;">ancrom<span class="dat-com">.com</span></h1>
                    <small class="h-font h-header font-weight-600 text-custom-h2" style="font-size: 1.4rem; line-height: 120%;">
                        {{ 'It\'s a personal website of' | trans }} Olivier Maurel<br>
                        <span style="font-size: 3.4rem;">{{ 'Welcome in my boat' | trans }}!</span>
                    </small>
                </div>
                <div class="row w-75">
                    <div class="col-lg-5 flex-center flex-column">
                        <a href="#profil_section" class="btn m-auto btn-link btn-extra-large text-white d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr"><i class="fa fa-user me-2"></i>{{ 'Check my profile' | trans }}</a>
                        <small class="d-block text-custom-h1">Olivier Maurel</small>
                    </div>
                    <div class="col-lg-2 text-center">
                        <span class="h-font text-custom-h1">{{ 'or' | trans }}</span>
                    </div>
                    <div class="col-lg-5 flex-center flex-column">
                        <a href="https://sandbox.ancrom.com" class="btn m-auto btn-link btn-extra-large text-white d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr disabled"><i class="fa fa-mountain me-2"></i>{{ 'Go to my Sandbox' | trans }}</a>
                        <small class="d-block text-custom-h1">{{ 'Coming soon' | trans }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="opacity-light opacity-1 bg-custom-blue-3"></div>
    <div class="block">
        <div></div>
        <div></div>
    </div>
</section>

<!-- PROFILE -->
{{ include('/index/_profile.html.twig') }}

<!-- SKILLS -->
{{ include('/index/_skills.html.twig') }}

<!-- EDUCATION -->
{{ include('/index/_education.html.twig') }}

<!-- EXPERIENCE -->
{{ include('/index/_experience.html.twig') }}

<!-- CONTACT -->
{{ include('/index/_contact.html.twig') }}


{% endblock %}
